body {
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}
.switch-color {
  background-color: white;
}

.switch-color .animated-intro .intro {
  color: #61ffb5;
}

.switch-color .person,
.switch-color span,
.switch-color .title {
  color: #61ffb5;
}

.animated-color .animated-intro .intro {
  animation: color 2s alternate infinite;
}

@-webkit-keyframes color {
  0% {
    background-color: lightgreen;
  }
  50% {
    background-color: lightsalmon;
  }
  /* your chosen 'mid' color */
  100% {
    background-color: lightpink;
  }
}

.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 41px;
  width: 286px;
  top: 28px;
  left: 1100px;
}

.button {
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #61ffb5;
}

.button2 {
  margin: auto;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: black;
  animation: color 3s alternate infinite;
}

.title {
  position: relative;
  text-align: center;
  display: inline;
  top: 34px;
  left: 600px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: white;
  line-height: 1em;
  font-size: 1.2em;
}

a {
  text-align: center;
  text-decoration: none;
  margin: auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #61ffb5;
  line-height: 1;
  font-size: 1.1em;
}

.white {
  -webkit-transform: scale(0.07);
  transform: scale(0.07);
  position: absolute;
  left: -300px;
  top: -331px;
}

.logo .black {
  -webkit-transform: scale(0.07);
  transform: scale(0.07);
  position: absolute;
  left: -300px;
  top: -331px;
  display: none;
}

/* animated cursor */
@-webkit-keyframes animate {
  0% {
    cursor: url("../images/cursor_hover.png"), auto;
  }
  50% {
    cursor: url("../images/cursor_hover2.png"), auto;
  }
  90% {
    cursor: url("../images/cursor_hover3.png"), auto;
  }
}

.profile {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  -webkit-animation: animate 3s alternate infinite;
  animation: animate 3s alternate infinite;
}

.profile img {
  display: relative;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.person {
  position: relative;
  left: 170px;
  bottom: 100px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  height: 50px;
  width: 200px;
  margin: 0px;
  color: white;
  line-height: 1em;
  display: block;
}

span {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  margin: 0;
  text-align: center;
  line-height: 1em;
  font-size: 0.65em;
}

.animated-intro {
  display: block;
  position: relative;
  left: 400px;
  bottom: 350px;
  width: 900px;
}

.animated-intro .intro {
  display: inline;
  font-family: "Work Sans", sans-serif;
  line-height: 1.3em;
  font-weight: 700;
  font-style: oblique;
  font-size: 3em;
  color: white;
}

.animated-intro .typed-cursor {
  display: inline;
  font-size: 3em;
  color: white;
}

.gif img {
  position: relative;
  left: 390px;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}
