html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  &.switch-color {
    background-color: white;
    .circle,
    .circle2,
    .circle3,
    .circle4,
    .circle5,
    .circle6 {
      border-right: 200px dotted #61ffb5;
    }
    person,
    .project-title,
    .about-link {
      color: black;
    }
  }

  &.animated-color {
    animation: color 2s infinite alternate;
    .project-title,
    .about-link {
      color: black;
    }
  }
}

#pattern {
  color: black;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 41px;
  width: 286px;
  top: 24px;
  left: 1100px;
}

.button {
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #61ffb5;
  &.on {
    background-color: red;
  }
}

.button2 {
  margin: auto;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: black;
  /* border: solid 1px white; */
  animation: color 2s infinite alternate;
  &.on {
    animation: none;
    background-color: black;
  }
}

a {
  text-align: center;
  text-decoration: none;
  margin: auto;
  // font-family: "Work Sans", light;
  // font-weight: light;
  // color: #61ffb5;
  // line-height: 1;
  // font-size: 1.1em;
}

.about-link {
  font-family: "Work Sans", light;
  font-weight: light;
  color: #61ffb5;
  line-height: 1;
  font-size: 1.1em;
}

.project-title {
  position: fixed;
  text-align: center;
  margin-left: 45vw;
  margin-top: -780px;
  font-family: "Work Sans", light;
  font-weight: light;
  color: #61ffb5;
  height: 150px;
  line-height: 1;
  font-size: 1.5em;
}

/* front circle */
.front {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1417px;
  height: 800px;
}

.circle4 {
  border-top: 200px dotted transparent;
  border-right: 200px dotted white;
  transform: rotate(-135deg);
  display: inline-block;
}

.circle5 {
  border-top: 200px dotted transparent;
  border-right: 200px dotted white;
  transform: rotate(315deg);
  display: inline-block;
}

.circle6 {
  border-top: 200px dotted transparent;
  border-right: 200px dotted white;
  transform: rotate(45deg);
  display: inline-block;
}

.back {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1417px;
  height: 800px;
}

.circle {
  border-top: 200px dotted transparent;
  border-right: 200px dotted white;
  transform: rotate(135deg);
  display: inline-block;
}

.circle2 {
  border-top: 200px dotted transparent;
  border-right: 200px dotted white;
  transition: transform 0.5s ease-in-out;
  display: inline-block;
}

.circle3 {
  border-top: 200px dotted transparent;
  border-right: 200px dotted white;
  transform: rotate(315deg);
  transition: transform 0.5s ease-in-out;
  display: inline-block;
}

/* people */
.profileTitle {
  font-family: "Work Sans";
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  // height: 50px;
  // width: 400px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0px;
  color: white;
  line-height: 1em;
  display: inline;
}

.profile {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  animation: animate 3s alternate infinite;
}

.profile img {
  display: block;
  padding: 20px;
  height: 250px;
  width: 250px;
}

a {
  text-decoration: none;
}

p,
person {
  font-family: "Work Sans";
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  height: 50px;
  width: 200px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0px;
  color: white;
  line-height: 1em;
}

person {
  display: block;
}

span {
  font-family: "Work Sans";
  text-align: center;
  font-weight: thin;
  margin: 0;
  text-align: center;
  line-height: 1em;
  font-size: 0.65em;
}

/* animated cursor */
@keyframes animate {
  0% {
    cursor: url("../images/cursor_hover.png"), auto;
  }
  50% {
    cursor: url("../images/cursor_hover2.png"), auto;
  }
  90% {
    cursor: url("../images/cursor_hover3.png"), auto;
  }
}

.profile a:hover {
  animation: animate 3s alternate infinite;
}

/* transite page */
.window-1 {
  font-family: "Work Sans", regular;
  font-weight: bold;
  font-style: oblique;
  color: white;
  height: 150px;
  line-height: 1;
  font-size: 2.5em;
}

@keyframes color {
  0% {
    background-color: lightgreen;
  }
  50% {
    background-color: lightsalmon;
  } /* your chosen 'mid' color */
  100% {
    background-color: lightpink;
  }
}

.introWindow {
  position: fixed;
  overflow: hidden;
  cursor: pointer;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 8em;
  margin: auto;
  text-decoration: none;
  vertical-align: middle;
  background: #f34f4b;
  color: white;
  animation: color 0.5s infinite alternate;
  display: none;
}

.show-centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}
