* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: black;
}

.container {
  max-width: 87%;
  margin: auto;
}

.navbar {
  font-family: "Noto Sans", sans-serif;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li {
  text-align: center;
  margin: 20px auto;
}

.nav-links {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

/* .nav-links:hover {
  color: black;
  text-decoration: underline;
} */

.logo {
  font-family: "Noto Sans", sans-serif;
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
  text-decoration: none;
  color: #34ffa8;
}

@media screen and (min-width: 768px) {
  /* .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  } */

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 16px;
  }

  .logo {
    margin-top: 0;
  }
}

.main-element {
  padding: 30px 0px 30px 0px;
}

h1 {
  padding-top: 90px;
  font-family: "Noto Sans", sans-serif;
  font-size: 120px;
  line-height: 145px;
  color: white;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  color: white;
  line-height: 30px;
  margin-top: 40px;
}

a.link-1 {
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  color: white;
}

a.link-1:hover,
.nav-links:hover {
  text-decoration: underline;
}

span.wave {
  animation: wave-animation 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 481px) {
  h1 {
    padding-top: 90px;
    font-size: 55px;
    line-height: 70px;
  }

  p {
    width: 320px;
    font-size: 17px;
    color: gray;
    line-height: 30px;
    margin-top: 40px;
  }

  .logo {
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* margin: -1rem -1rem; */
  overflow: hidden;
}

.item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 2px;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 400ms ease-out;
  /* transform: scale(0.05); */
}

/* .gallery-image:hover {
  transform: scale(1.15);
} */

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}

name {
  color: white;
  font-size: 28px;
}

description {
  color: white;
  font-size: 20px;
}
